@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(blue, black);
}

.wrapper {
    position: relative;
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.butgrup {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

button {
    position: absolute;
    width: 150px;
    height: inherit;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid blue;
    outline: none;
    cursor: pointer;
    box-shadow: 0 4px rgb(0, 87, 218);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.3s;
    text-decoration: none;
    overflow: hidden;
}

button:nth-child(1) {
    margin-left: -170px;
    background-color: #0084ff;
    color: #fff;
}

button:nth-child(2) {
    margin-right: -170px;
    background-color: #ffffff;
}


.yesbut:hover {
    background-color: #a0dcf0;
    color: #505050
}
.yesbut:active {
    font-size: 10px;
    width: 100px;
    height: inherit;
}

.nobut:hover {animation: shaking 0.2s infinite;}
@keyframes shaking {
   0% {transform: translateX(0) rotate(0deg);}
   25% {transform: translateX(15px) rotate(5deg);}
   50% {transform: translateX(0px) rotate(0deg);}
   75% {transform: translateX(-15px) rotate(-5deg);}
   100% {transform: translateX(0px) rotate(0deg);}
}
